
<form>
  <table class="list issues">
   <% issue_list(issue.descendants.visible.preload(:status, :priority, :tracker, :assigned_to).sort_by(&:lft)) do |child, level| %>
   <% css = "issue issue-#{child.id} hascontextmenu #{issue.css_classes}" %>
   <% css << " idnt idnt-#{level}" if level > 0 %>
     <tr>
       <td class="subject"  style="width: 50%"> <% link_to_issue(child, :project => (issue.project_id != child.project_id)) %> </td>
       <td class="status"> <% h(child.status) %></td>
       <td class="assigned_to"> <% link_to_user(child.assigned_to) %> </td>
       <td class="done_ratio"  class="css"> <% child.disabled_core_fields.include?('done_ratio') ? '' : progress_bar(child.done_ratio) %> </td>
     </tr>
  <% end %>
 </table></form>